<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--preference for="Magento\ImportService\Api\SourceUploadInterface"
                type="Magento\ImportService\Model\SourceUpload" /-->
    <preference for="Magento\ImportService\Api\Data\SourceInterface"
                type="Magento\ImportService\Model\Source" />
    <!--preference for="Magento\ImportService\Api\Data\SourceFormatInterface"
                type="Magento\ImportService\Model\Source\AbstractSourceFormat" /-->
    <preference for="Magento\ImportService\Api\Data\SourceFormatMappingInterface"
                type="Magento\ImportService\Model\SourceFormatMapping" />
    <preference for="Magento\ImportService\Api\Data\SourceUploadResponseInterface"
                type="Magento\ImportService\Model\SourceUploadResponse" />
    <preference for="Magento\ImportService\Api\SourceRepositoryInterface"
                type="Magento\ImportService\Model\SourceRepository"/>
    <preference for="Magento\ImportService\Api\Data\PartialSourceInterface"
                type="Magento\ImportService\Model\PartialSource" />
    <preference for="Magento\ImportService\Api\PartialSourceUploadInterface"
                type="Magento\ImportService\Model\PartialSourceUpload" />
    <preference for="Magento\ImportService\Api\ImportManagementInterface" type="Magento\ImportService\Model\ImportManagement"/>
    <preference for="Magento\ImportService\Api\Data\ImportEntryInterface" type="Magento\ImportService\Model\ImportEntry"/>
    <preference for="Magento\ImportService\Api\Data\FieldMappingInterface" type="Magento\ImportService\Model\Source\FieldMapping"/>

    <virtualType name="Magento\ImportService\Model\Source\Validator\LocalPathFileProcessorValidator" type="Magento\ImportService\Model\Source\Validator\ImportServiceValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_request_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\SourceRequestValidator</item>
                <item name="local_path_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\LocalPathValidator</item>
                <item name="mime_type_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\MimeTypeValidator</item>
                <item name="uuid_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\UuidValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\ImportService\Model\Import\Processor\LocalPathFileProcessor">
        <arguments>
            <argument name="validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\LocalPathFileProcessorValidator</argument>
        </arguments>
    </type>
    <virtualType name="Magento\ImportService\Model\Source\Validator\Base64EncodedDataProcessorValidator" type="Magento\ImportService\Model\Source\Validator\ImportServiceValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_request_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\SourceRequestValidator</item>
                <item name="base64_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\Base64Validator</item>
                <item name="uuid_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\UuidValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\ImportService\Model\Import\Processor\Base64EncodedDataProcessor">
        <arguments>
            <argument name="validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\Base64EncodedDataProcessorValidator</argument>
        </arguments>
    </type>
    <virtualType name="Magento\ImportService\Model\Source\Validator\ExternalFileProcessorValidator" type="Magento\ImportService\Model\Source\Validator\ImportServiceValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_request_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\SourceRequestValidator</item>
                <item name="remote_url_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\RemoteUrlValidator</item>
                <item name="mime_type_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\MimeTypeValidator</item>
                <item name="uuid_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\UuidValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\ImportService\Model\Import\Processor\ExternalFileProcessor">
        <arguments>
            <argument name="validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\ExternalFileProcessorValidator</argument>
        </arguments>
    </type>
    <type name="Magento\ImportService\Model\Import\SourceProcessorPool">
        <arguments>
            <argument name="sourceProcessors" xsi:type="array">
                <item name="local_path" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\ImportService\Model\Import\Processor\LocalPathFileProcessor\Proxy</item>
                    <item name="import_type" xsi:type="const">Magento\ImportService\Model\Import\Processor\LocalPathFileProcessor::IMPORT_TYPE</item>
                </item>
                <item name="base64_encoded_data" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\ImportService\Model\Import\Processor\Base64EncodedDataProcessor\Proxy</item>
                    <item name="import_type" xsi:type="const">Magento\ImportService\Model\Import\Processor\Base64EncodedDataProcessor::IMPORT_TYPE</item>
                </item>
                <item name="external" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\ImportService\Model\Import\Processor\ExternalFileProcessor\Proxy</item>
                    <item name="import_type" xsi:type="const">Magento\ImportService\Model\Import\Processor\ExternalFileProcessor::IMPORT_TYPE</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\ImportService\Api\ImportStatusInterface" type="Magento\ImportService\Model\ImportStatus" />
    <preference for="Magento\ImportService\Api\Data\ImportStatusResponseInterface" type="Magento\ImportService\Model\ImportStatusResponse" />
    <preference for="Magento\ImportService\Api\Data\ImportStatusResponseItemInterface" type="Magento\ImportService\Model\ImportStatusResponseItem" />
    <preference for="Magento\ImportService\Api\ImportStartInterface"
                type="Magento\ImportService\Model\ImportStart" />
    <preference for="Magento\ImportService\Api\Data\ImportStartResponseInterface"
                type="Magento\ImportService\Model\ImportStartResponse" />
    <preference for="Magento\ImportService\Api\Data\ImportConfigInterface"
                type="Magento\ImportService\Model\ImportConfig" />
    <preference for="Magento\ImportService\Api\ImportRestartOperationInterface"
                type="Magento\ImportService\Model\ImportRestartOperation"/>

</config>
